thead{
background-color: #008000;
}

table {
      border: 1px solid red;
     border-collapse: collapse;
   }

  #paquito {
  background-color: #ff6bb3 ; 
    border: 1px solid yellow;
   boder-collapse: collapse;
  }

  .high:hover {
   background-color: #ff6bb3 ;
  }

  .low {
   color:red;
  }
